body {
    background-color: #f0bdc8;
} h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
    z-index: 1;
} img {
    border-radius: 10px;
    max-width: 100%;
    display: block;
    margin: auto;
} .cherry {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: auto;
    position: absolute;
    z-index: 2;
} .cat {
    z-index: 3;
} div {
    margin: auto;
} a {
    text-decoration: none;
} a:visited {
    color: white;
} a:hover {
    text-shadow: 4px 4px gray; 
}
